/*COLORES DE LOS NAVBAR VERTICALES*/
.layout-navbar-fixed .wrapper .sidebar-dark-danger .brand-link:not([class*=navbar]) {
    background-color: #590202 !important;
}
[class*=sidebar-dark-] {
    background: linear-gradient(to bottom, rgb(97, 0, 0), rgb(160, 0, 0), rgb(228, 0, 0))!important;
}
/*BUSCADOR BARRA HORIZONTAL*/
[class*=sidebar-dark] .btn-sidebar, [class*=sidebar-dark] .form-control-sidebar {
    background-color: #e3e3e3!important;
    border: 1px solid rgb(97, 0, 0)!important;
    color: #343a40!important;
}
/*CAMPO SELECCIONADO DE LA BARRA HORIZONTAL*/
.sidebar-dark-danger .nav-sidebar>.nav-item>.nav-link.active, .sidebar-light-danger .nav-sidebar>.nav-item>.nav-link.active {
    background-color: #fff!important;
    color: #4e5257!important;
}
/*COLORES DE LA BARRA HORIZONTAL*/
.navbar-dark {
    background-color: #ffffff !important;
    border-bottom: 1px solid #dee2e6 !important;
}

[class*=sidebar-dark] .brand-link {
    border-bottom: 1px solid #d6d6d6 !important;
}

.content-wrapper {
    background-color: #f4f6f9 !important;
}
.content-wrapper-i {
    background-color: #fff !important;
}


.navbar-light {
    background-color: #fff!important;
}
.main-header {
    border-bottom: 1px solid #dee2e6!important;
    z-index: 1034;
}
/*COLOR DEL BOTON DESPLEGABLE*/
.navbar-white {
    background-color: #fff !important;
    color: #727272 !important;
}
.navbar-dark .navbar-nav .nav-link {
    color: #727272 !important;
}

.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
    color: rgba(0,0,0,.7) !important;
}
/*BORDE DE ABAJO FOOTER */
.m-footer {
    background-color: #fff;
    border-top: 1px solid #dee2e6;
    color: #869099;
    padding: 1rem;
}
.footer{
    display: block;
}
.float-right {
    float: right!important;
}
@media (min-width: 576px){
    .d-sm-block {
        display: block!important;
    }
}

.d-none {
    display: none!important;
}
*, ::after, ::before {
    box-sizing: border-box;
}
/*BOTON DE HOME*/
.alert a {
    color: #fff;
    text-decoration: auto!important;
}

/*BARRA DE PROGRESO*/
.progress-bar-danger{
    background-color: #dc3545 !important;
 }

/*COLOR DE LAS LETRAS DE LA BARRA LATERAL HIZQUIERDA
[class*=sidebar-dark-] .sidebar a {
    color: rgba(255,255,255,.8);
}*/