.card-header {
    /*background-color: #fd7e14;*/
    background-color: #6a95aa;
    border-bottom: 1px solid #fff;
    padding: 0.75rem 1.25rem;
    position: relative;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}

.card-title {
    color: white;
    float: left;
    font-size: 1.1rem;
    font-weight: 400;
    margin: 0;
}