.card-primary:not(.card-outline)>.card-header {
    background-color: #af0011;
}
.btn-primary {
    color: #060606;
    background-color: #fab907;
    border-color: #fab907;
    box-shadow: none;
}
.btn-primary:hover {
    color: #060606;
    background-color: #fd9c00;
    border-color: #fd9c00;
    box-shadow: none;
}
.card-footer {
    padding: 0.75rem 1.25rem;
    background-color: #fff;
    border-top: 0 solid rgba(0,0,0,.125);
}