
/*BOTONES DE ELIMINAR Y EDITAR*/
.btn-app>.fa {
    display: block;
    font-size: 13px;
}
.btn-app>.fas {
    display: block;
    font-size: 13px;
}
.btn-app {
    border-radius: 1px;
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    color: #6c757d;
    font-size: 7px;
    height: 30px;
    margin: 0 0 5px 5px;
    min-width: 30px;
    padding: 9px 3px;
    position: relative;
    text-align: center;
}

.table td, .table th {
    padding: 0.75rem;
    vertical-align: initial;
    border-top: 1px solid #dee2e6;
}
/*BORDES DIFUMINADOS*/
.card {   
    --bs-card-bg: var(--bs-body-bg);  
    box-shadow: var(--bs-card-box-shadow)
}
.card-header{
    --bs-card-bg: var(--bs-body-bg);  
    box-shadow: var(--bs-card-box-shadow) 
}